config/weechat/irc.conf
config/weechat/weechat.log
*un~
tags
config/cmus/cache
config/cmus/command-history
config/cmus/lib.pl
config/cmus/playlists/
config/cmus/search-history
config/qutebrowser/config.py
config/nvim-0.5/plugin/packer_compiled.lua
config/nvim-0.5/lazy-lock.json
*/tmux/plugins/
