* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Red Hat Display Medium;
  font-size: 13px;
}

window#waybar {
  color: #ffffff;
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#tray {
  background-color: transparent;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  color: #c9545d;
  border-top: 2px solid #c9545d;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#mode {
  background-color: #181825;
}

#window {
  background-color: #181825;
  font-weight: bold;
  border-radius: 2px;
  padding: 4px 6px;
  margin: 4px 2px;
}

#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#cpu, 
#memory,
#custom-logo,
#battery,
#backlight,
#disk,
#pulseaudio, 
#temperature,
#network,
#clock,
#custom-power,
#tray {
  padding: 0 5px;
  border-top: 2px solid transparent;
  background: transparent;
  margin: 4px 2px;
}

#battery.warning {
  padding: 0 5px;
  border-top: 2px solid #FFFF66;
  background: transparent;
  margin: 4px 2px;
  color: #FFFF66;
}

#battery.critical,
#battery.urgent {
  padding: 0 5px;
  border-top: 2px solid #FF6666;
  background: transparent;
  margin: 4px 2px;
  color: #FF6666;
}

#battery.charging {
  padding: 0 5px;
  border-top: 2px solid #66FF66;
  background: transparent;
  margin: 4px 2px;
  color: #66FF66;
}

#custom-vpn.connected {
  padding: 0 5px;
  border-top: 2px solid #FF6666;
  margin: 4px 2px;
  background: transparent;
  color: #FF6666;
}

#custom-vpn.disconnected {
  padding: 0 5px;
  border-top: 2px solid #66FF66;
  margin: 4px 2px;
  background: transparent;
  color: #66FF66;
}
