/* The full palete from light to dark
 * 80FFDB 
 * 72EFDD
 * 64DFDF
 * 56CFE1
 * 48BFE3
 * 4EA8DE
 * 5390D9
 * 5E60CE
 * 6930C3
 * 7400B8
 */



* {
	font-size: 19px;
	font-family: monospace;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #e50000;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}
#mpd {
	color: #56CFE1;
	/* background: #1a1a1a; */
}
#pulseaudio {
	color: #48BFE3;
	background: #1a1a1a;
}
#memory {
	color: #4EA8DE;
	background: #1a1a1a;
}
#cpu {
	color: #5390D9;
	background: #1a1a1a;
}
#battery {
	color: #5E60CE;
	background: #1a1a1a;
}
#disk {
	color: #6930C3;
	padding: 0 5px;
	background: #1a1a1a;
}
#network {
	color: #7400B8;
	background: #1a1a1a;
}
#clock {
	color: #FDFFFC;
	background: #1a1a1a;
}
